/* css of cards */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#allCards {
  margin-top: 50px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

 
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

  .topnav a, .topnav input {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  height: 100px;
  background-color: #2196F3;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#pageLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 30px;
  background-color: black;
  font-family: inherit;
  margin-right: 90px;
  font-size: 18px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 97px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

input {
  width: 220px;
  height: 35px;
  padding-left: 15px;
  border-radius: 5px;
  border: none;
}

.search-btn {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  border: none;
}
.search-btn:hover {
  background-color: rgb(248, 146, 146);
}

#allCards {
  display: grid;
  grid-template-columns: auto auto auto auto;

}

.logo {
  position: relative;
  left: 70px;
}

.search {
  position: relative;
  left: 150px;
}