/* css of login */
body{
    background-image: url(https://img.freepik.com/premium-photo/concept-online-shopping-shopping-cart-floating-laptop-3d-illustration-banner-e-commerce_522591-1459.jpg);
      background-repeat: no-repeat; 
    background-size: cover;
   
  
  }
  .container{
    background-color:orange;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 400px;
    border-radius: 40px;
    box-shadow: 97px 66px 38px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 97px 66px 38px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 97px 66px 38px 0px rgba(0,0,0,0.75);
  }
  #eazay{
    color:paleturquoise;
    position: absolute;
    left: 5%;
  }
  #signup{
    color: paleturquoise;
    position: absolute;
    top: 15%;
    left: 33%;
  }
  #psw{
    background-color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 200px; 
  }
  #userEmail{
    background-color: whitesmoke;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 200px;
  }
  #log{
    background-color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 35%;
    width: 100px;
    height: 6%;
    border-radius: 20px;
  }
  #sign{
    background-color: whitesmoke;
    position: absolute;
    top: 58%;
    left: 35%;
    width: 100px;
    height: 6%;
    border-radius: 20px;
  }
  #verify{
  position: absolute;
  top: 70%;
  left: 15%;
  color: red;
  font-size: 20px;
  background-color: whitesmoke;
  display:none;
  }